.list{
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.favicon{
  width: 150px;
  height: 90px;
  margin-top: 4px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.search{
  width:100%;
  height: 100%;
  border-radius: 30px;
  margin-top: 4px;
  margin-left: 5px;
  cursor: ponter;
}

.address{
  border: 1px solid #9FAECF;
  border-radius: 19px;
  padding: 9px;
  margin-top: 20px;
  background-color: #9FAECF;
}

.description{
  margin-top: 27px;
  margin-left: 20px;
  border: 1px solid #9FAECF;
  border-radius: 19px;
  padding: 16px;
  background-color: #9FAECF;
}